name: Get Free Nodes
on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  fetch_nodes:
    runs-on: ubuntu-latest
    permissions: # 显式声明权限，防止 Settings 里没改对
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download and Merge
        run: |
          # 如果 xeton 挂了，换成这个 id9 的后端尝试
          SOURCE_1="https://raw.githubusercontent.com/anaer/Sub/main/clash.yaml"
          curl -L -o nodes.yaml "https://subapi.zrfme.com/sub?target=clash&list=true&url=${SOURCE_1}"

      - name: Git Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add nodes.yaml
          # 即使没有更新也不报错退出
          git commit -m "Update nodes $(date)" || echo "No changes to commit"
          git push

      - name: Refresh jsDelivr Cache
        run: >
          curl -s "https://purge.jsdelivr.net/gh/${{ github.repository }}@main/nodes.yaml"
